<!DOCTYPE html>
<html>
    <head>
        <title>Steve Gattuso</title>
        <link rel="stylesheet" type="text/css" href="/static/style.css">
        <link href='http://fonts.googleapis.com/css?family=Libre+Baskerville:400,700,400italic' rel='stylesheet' type='text/css'>
        <meta name="viewport" content="width=515px">
        <meta name="description" content="Steve Gattuso - A hacker/developer and student at the University of Rochester">
        <meta http-equiv="content-type" content="text/html;charset=UTF-8">
        <meta name="google-site-verification" content="Ha2CGmoUtvcKv_T40Ny72sJXbp4HVV2ND-x1xwBLHBI" />
        <link rel="shortcut icon" href="/static/favicon.png">
    </head>
    <body>
        <div class="container">
            <a href="/" class="name">Steve Gattuso</a>
            {% if page.title != "index" %}
                <div class="links">
                    <a href="/">Home</a><a href="https://github.com/stevenleeg">Github</a><a href="https://news.ycombinator.com/user?id=stevenleeg">Hacker News</a><a href="mailto:steve@stevegattuso.me">Contact</a>
                </div>
            {% else %}
                <div class="links">
                    <a href="https://github.com/stevenleeg">Github</a><a href="http://twitter.com/stevegattuso">Twitter</a><a href="https://news.ycombinator.com/user?id=stevenleeg">Hacker News</a><a href="mailto:steve@stevegattuso.me">Contact</a>
                </div>
            {% endif %}
            {% if page.title == "index" %}
            <div class="bio">
                I'm a student at the <a href="http://rochester.edu">University of Rochester</a> and <a href="http://apply.hackny.org/">hackNY '13 alum</a>. I like to work on things I find fun and useful on my spare time. If you like what I do feel free to <a href="http://twitter.com/stevegattuso">say hello</a>.
            </div>
            <img src="/photos/IMG_0455.JPG" width="500px" class="profile" />
            {% endif %}

            {{content}}
        </div>
        <div class="footer"><img src="/static/copyleft.png" height="16px" />2013 Steve Gattuso</div>
        <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-26000488-1']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        </script>
    </body>
</html>
