<!DOCTYPE html>
<html>
    <head>
        {% if page.title %}
            <title>{{ page.title }} - Steve Gattuso</title>
        {% else %}
            <title>Steve Gattuso</title>
        {% endif %}
        <link rel="stylesheet" type="text/css" href="/static/style.css">
        <link rel="stylesheet" type="text/css" href="/static/syntax.css">
        {% if !site.ipv6 %}
            <link href='http://fonts.googleapis.com/css?family=Libre+Baskerville:400,700,400italic' rel='stylesheet' type='text/css'>
        {% endif %}
        <meta name="viewport" content="width=515px">
        <meta http-equiv="content-type" content="text/html;charset=UTF-8">
        <link rel="shortcut icon" href="/static/favicon.png">
        <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html','' }}" />

        <meta name="google-site-verification" content="Ha2CGmoUtvcKv_T40Ny72sJXbp4HVV2ND-x1xwBLHBI" />
        {% if page.description %}
            <meta name="description" content="{{ page.description }}">
            <meta name="twitter:description" content="{{ page.description }}" />
            <meta property="og:description" content="{{ page.description }}" />
        {% else %}
            <meta name="description" content="Steve Gattuso - A hacker/developer and student at the University of Rochester">
            <meta name="twitter:description" content="Steve Gattuso - A hacker/developer and student at the University of Rochester" />
            <meta property="og:description" content="Steve Gattuso - A hacker/developer and student at the University of Rochester" />
        {% endif %}

        <meta property="og:site_name" content="Steve Gattuso" />
        <meta property="og:type" content="blog"/>
        <meta property="og:image" content="{{ site.social-image }}" />
        <meta name="twitter:image" content="{{ site.social-image }}" />
        {% if page.title %}
            <meta property="og:title" content="{{ page.title }} - Steve Gattuso" />
            <meta name="twitter:title" content="{{ page.title }}" />
        {% else %}
            <meta property="og:title" content="Steve Gattuso" />
            <meta name="twitter:title" content="Steve Gattuso" />
        {% endif %}
        <meta property="og:url" content="{{ site.url }}{{ page.url | replace:'index.html','' }}" />

        <meta name="twitter:card" content="summary" />
        <meta name="twitter:site" content="@stevenleeg" />
        <meta name="twitter:creator" content="@stevenleeg" />
    </head>
    <body>
        <div class="container">
            <a href="/" class="name">Steve Gattuso</a>
            {% if page.title != "Home" %}
                <div class="links">
                    <a href="/">Home</a><a href="https://github.com/stevenleeg">Github</a><a href="http://twitter.com/stevenleeg">Twitter</a><a href="mailto:steve@stevegattuso.me">Contact</a>
                </div>
            {% else %}
                <div class="links">
                    <a href="https://github.com/stevenleeg">Github</a><a href="http://twitter.com/stevenleeg">Twitter</a><a href="https://news.ycombinator.com/user?id=stevenleeg">Hacker News</a><a href="mailto:steve@stevegattuso.me">Contact</a>
                </div>
            {% endif %}
            {% if page.title == "Home" %}
                {% include bio.html %}
                <img src="/photos/IMG_0455.JPG" width="500px" class="profile" />
            {% endif %}

            {{content}}
        </div>
        <div class="footer"><img src="/static/copyleft.png" height="14px" />2013 Steve Gattuso</div>
        {% if !site.ipv6 %}
        <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-26000488-1']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        </script>
        {% endif %}
    </body>
</html>
